.player {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.time-control {
		width: 50%;
		display: flex;
		align-items: center;

		input {
			width: 100%;
			height: 100%;
			-webkit-appearance: none;
			background: transparent;
			cursor: pointer;
			padding-bottom: 5px;
		}

		input:focus {
			outline: none;
		}

		input::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
			border-radius: 50%;
		}

		input::-moz-slider-thumb {
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
			border-radius: 50%;
		}

		input::-o-slider-thumb {
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
			border-radius: 50%;
		}

		p {
			padding: 1rem;
		}
	}

	.play-control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		width: 30%;

		svg {
			cursor: pointer;
		}
	}
}

.track {
	width: 100%;
	height: 1rem;
	background-color: lightblue;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.animate-track {
	background-color: gray;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0%);
	pointer-events: none;
}

@media screen and (max-width: 768px) {
	.time-control {
		width: 90% !important;
	}

	.play-control {
		width: 90% !important;
	}
}
