@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

h3,
h4 {
	font-weight: 600;
	color: rgb(38, 38, 38);
}

.App {
	transition: all 0.3s ease;
}

.library-active {
	margin-left: 30%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
